---
import Layout from "../layouts/Layout.astro";

import Projects from "../components/Projects.astro";
import Experience from "../components/Experience.astro";
import Contact from "../components/Contact.astro";
import Tecnologias from "../components/Tecnologias.astro";
import Footer from "../components/Footer.astro";

import ProjectosIcon from "../icons/ProjectosIcon.astro";
import TecnologiasIcon from "../icons/TecnologiasIcon.astro";
import ExperienceIcon from "../icons/ExperienceIcon.astro";
import ContactIcon from "../icons/ContactIcon.astro";

const PROJECTS = [
	{
		name:"Rick and Morty APP",
		description:"Pagina con autenticacion y login, filtrado de personajes y busqueda, persistencia de datos en BD",
		tecnologias:["ReactJS","Express","Sequelize"]
	}
]
---

<Layout title="Mi pagina principal">
<main class="mx-auto flex flex-col justify-center items-center gap-y-6">
	<h1 class="text-5xl">Hola, soy <span class="text-red-400">Fernando Hernández</span></h1>
	<h2 class="text-4xl text-red-400">Desarrollador Web Full-Stack</h2>
	<span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-1 rounded dark:bg-gray-700 dark:text-green-400 border border-green-400">Disponible para trabajar</span>
	<p class="text-xl max-w-[500px] text-pretty">Especializado En Crear Páginas Web. De México, Programador Autodidacto con +1 año de Experiencia en Proyectos Practicos</p>
	
	<section class="flex flex-col gap-4">
		<div class="flex flex-row items-center justify-start mb-5">
			<span><ProjectosIcon class="size-10"/></span><h1 class="text-3xl ">Proyectos</h1>
		</div>
		{PROJECTS.map((project) => (			
			<Projects project={project} />
			
		))}
	</section>

	<section class="flex flex-col items-start">
		<h1 class="text-3xl mb-5"><ExperienceIcon class="size-10 inline-block mb-3" />Experiencia</h1>
		<Experience/>
	</section>

	<section class="flex flex-col mb-8 items-center">
		<h1 class="text-3xl mb-6"><TecnologiasIcon class="size-10 inline-block mb-3" />Tecnologías</h1>
		<Tecnologias />
	</section>

	<section class="mb-9 flex flex-col items-center">
		<h1 class="text-3xl p-3 mb-6"><ContactIcon class="size-10 inline-block mb-3" />Contacto</h1>
		<Contact class="w-[800px]" />
	</section>


</main>
<Footer/>
</Layout>


