

<footer class=" rounded-lg shadow m-5">
    <div class="w-full max-w-screen-xl h-[120px] p-3 md:py-4">
        <div class="sm:flex sm:items-center sm:justify-start">
            <ul class="flex flex-wrap items-center mb-4 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a href="#" class="hover:underline me-4 md:me-6">Proyectos</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Experiencia</a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline"></a>. Fernando Hernandez Porfolio</span>
    </div>
</footer>

