
<header class="flex justify-center items-center mx-auto py-5 w-[1000px] mb-8">
<nav class=" border border-black rounded-full
px-3 py-1
flex flex-row items-center
bg-neutral-200 dark:bg-black/50
gap-12
backdrop-blur-2xl">
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="/#experiencia">Experiencia</a>
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="/#proyectos">Proyectos</a>
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="/#sobre-mi">Sobre mí</a>
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="/#contacto">Contacto</a>
</nav>
</header>