
<header class="sticky top-0 left-0 flex justify-center items-center mx-auto mb-8 z-10">
<nav class=" border border-black rounded-full
px-3 py-3 mt-2
flex flex-row items-center
bg-neutral-200 dark:bg-slate-400/50
gap-12
backdrop-blur-2xl">
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="#experiencia">Experiencia</a>
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="#proyectos">Proyectos</a>
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="#sobre-mi">Sobre mí</a>
    <a class="hover:bg-white/30 rounded-full px-2  py-1" href="#contacto">Contacto</a>
</nav>
</header>