<p class="mb-5 text-pretty">
    Me llamo Fernando Alexis, tengo 25 años soy de CDMX, México 🇲🇽
    Termine mi Bachillerato en Recursos Humanos,tuve experiencia en trabajos como restaurante y comercio donde aprendi la comunicación pero la
    tecnologia siempre estuvo presente, tiempo despues me interese en el Desarrollo de Software.
<p class="mb-5">
    Mi principal habilidad es enfocarme en la Experiencia Web del usuario y buenas practicas.
</p>

<p class="mb-5">
    Hoy puedo decir que soy un Desarrollador Full Stack en Busca de mejorar mis habilidades y experiencia.
</p>